*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
    background-image:url("Studio\ Ghibli.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 697px;
    position: relative;
}

nav{
    /* background-color: #AEBDCA; */
    width: 100%;
    height: 60px;
}

nav .nav-logo{
    line-height: 60px;
    margin-left: 170px;
}

nav .nav-logo a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 2px 1px #515353;
}

nav ul{
    float: right;
    margin-right: 170px;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    line-height: 60px;
}

nav ul li a{
    color: #fff;
    text-shadow: 3px 2px 1px #515353;
    text-decoration: none;
}

.container{
    margin: 0 170px;
    position: relative;
}

.landing-page{
    height: 650px;
}

#typing{
    width: auto;
    color: #c2c2c5;
    text-shadow: 3px 2px 1px #515353;
    float: left;
    margin: 0 auto;
    padding: 50px;
    font-size: 50px; overflow: hidden; 
    white-space: nowrap; 
    animation: typing 3s steps(24) 2s infinite;

}
#typing span{
    color:#c2c2c5;
    text-shadow: 3px 2px 1px #515353;
}
   
    
#crow {
float: left;
margin-top: 50px;
color: #000000;
font-size: 50px;
animation: crow 0.58 linear Os infinite;
}
@keyframes typing{
    from{
        width:0;
    }
    to{
        width: 900px;
    }
}
@keyframes crow{
    from{
        opacity: 0;
    }
    to{
         opacity: 1;
    }
 }

.landing-page .content-landing{ 
    position: relative;
    top: 25%;
}

.landing-page .content-landing h1{
    font-size: 80px;
    color: #fff;
    font-family: 'Caveat', sans-serif;
}

.landing-page .content-landing span{
    color: #06283D;
}

.landing-page .content-landing p{
    width: 30rem;
}

.button{
    margin-top: 25px;
}

.button .btn{
    background-color: #06283D;
    padding: 13px 25px;
    text-decoration: none;
    color: #ffff;
    border-radius: 5px;
}

/* Page About */

.about{
    background-color: #181818;
    height: 800px;
    width: 100%;
    display: inline-flex;
    position: relative;
}

.about .container-about{
    margin: auto;
    padding: 50px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #cecece;
    background-color: #181818;
}

    

.about .container-about .text-about{
    margin: auto;
    width: 35rem;
    color: #808181;
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
}


.about .container-about .text-about h1{
    font-size: 35px;
}

.about .container-about .text-about p{
    font-size: 20px;
}

.about .container-about .image-about{
    position: relative;
    width: 20rem;
    float: left;
}

.about .container-about .image-about img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Page Destination */

.destination{
    height: 800px;
    /* margin-top: 100px; */
}

.destination .content-destination{
    margin-top: 80px;
}

.destination .content-destination h1{
    text-align: center;
    font-size: 40px;
    color: #343434;
}

.destination .content-destination p{
    text-align: center;
    color: #343434;
}

.destination .card{
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
}

.destination .card .card-body{
    background-color: rgb(255, 255, 255);
    width: 300px;
    box-shadow: 0 0 10px #cecece;
    margin: 50px 25px 0 25px;
    border-radius: 5px; 
    padding: 15px 10px; 
}

.card-body img{
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
}

.card-body .content-card{
    padding: 35px 17px;
    text-align: left;
}

.card-body .content-card h1{
    color: #343434;
    font-size: 20px;
    margin-bottom: 5px;
}

.card-body .content-card p{
    color: #606470;
    width: 100%;   
}

footer{
    width: 100%;
    height: 50px;
    background-color: #181818 ;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}

footer p{
    color: #fff;
}
footer, img{
    padding: right;
    margin: 10px 10px ;
    
    
}
@media (max-width: 600px){
    body{
        font-family: 'Poppins', sans-serif;
        background-color: #181818;
        background-image: url("Studio\ Ghibli.gif");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
    }
}

@media (max-width: 600px){
    nav {
        width: 225%;
        height: 15px;
    }
}
@media (max-width: 600px){
    nav .nav-logo{
        line-height: 60px;
        margin-left: 90px;
    }
       
}
@media (max-width: 600px){
    nav .nav-logo a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        text-shadow: 3px 2px 1px #515353;
        float: left;
    }
}
@media (max-width: 600px){
    nav ul{
        float: right;
        margin-right: 100px;
    }
}
@media (max-width: 600px){
    nav ul li{
        display: inline-block;
        margin: 0 20px;
        line-height: 60px;
    }
}
@media (max-width: 600px){
    nav ul li a{
        color: #fff;
        text-shadow: 3px 2px 1px #515353;
        text-decoration: none;
    }
}
@media (max-width: 600px){
    .container{
        margin: 0 170px;
        position: relative;
    }
} 
@media (max-width: 600px){
    .landing-page{
        height: 650px;
    }
}
@media (max-width: 600px){
    #typing{
        width: auto;
        color: #fff;
        text-shadow: 3px 2px 1px #515353;
        float: left;
        margin: 0 auto;
        padding: 10px;
        font-size: 37px; overflow: hidden; 
        white-space: nowrap; 
        animation: typing 3s steps(24) 2s infinite;
    }
}
@media (max-width: 600px){
    #typing span{
        color:#fff;
        text-shadow: 3px 2px 1px #515353;
    }
}
@media (max-width: 600px){
    @keyframes typing{
        from{
            width:0;
        }
        to{
            width: 900px;
        }
    }
}
@media (max-width: 600px){
    .about{
        background-color: #181818;
        height: 1000px;
        width:auto;
        display: inline-flex;
        position: center;
        padding: 50px;
        margin: 0px;
        
    }
}
@media (max-width: 600px){
    .about .container-about{
        margin: 10px;
        padding: 30px;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        position:relative;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 10px #cecece;
        background-color: #181818;
        position:center;
        justify-content: center;
        text-align: center;
        display:block;
    }
}
@media (max-width: 600px){
    .about .container-about .text-about{
        margin: auto;
        width: 23rem;
        color: #808181;
        text-shadow: 3px 2px 1px rgb(0, 0, 0);
        position: center;
    }
}
@media (max-width: 600px){
    .about .container-about .text-about h1{
        font-size: 50px;
    }
}
@media (max-width: 600px){
    .about .container-about .text-about p{
        font-size: 30px;
    }
}
@media (max-width: 600px){
    .about .container-about .image-about{
        position: center;
        width: 23rem;
        float: center;
    }
}
@media (max-width: 600px){
    .about .container-about .image-about img{
        width: 100%;
        display: center;
        justify-content: flex-end;
        border-radius: 10px;
        padding: 5px;
    }
}
@media (max-width: 600px){
    .destination{
        height: 1400px;
        /* margin-top: 100px; */
    }
}
@media (max-width: 600px){
    .destination .content-destination{
        margin-top: 100px;
    }
}
@media (max-width: 600px){
    .destination .content-destination h1{
        text-align: right;
        font-size: 50px;
        color: #343434;
    }  
}
@media (max-width: 600px){
    .destination .content-destination p{
        text-align: center;
        color: #343434;
        font-size: 35px;
    }
}
@media (max-width: 600px){
    .destination .card{
        position:center;
        justify-content: center;
        text-align: center;
        display:block;
    } 
}
@media (max-width: 600px){
    .destination .card .card-body{
        background-color: rgb(255, 255, 255);
        width: 550px;
        box-shadow: 0 0 10px #cecece;
        margin: 25px 25px 0 10px;
        border-radius: 5px; 
        padding: 25px 25px; 
    }
}
@media (max-width: 600px){
    .card-body img{
        width: 100%;
    }
}
@media (max-width: 600px){
    .card-body .content-card{
        padding: 15px 10px;
        text-align: center;
    }
}
@media (max-width: 600px){
    .card-body .content-card h1{
        color: #343434;
        font-size: 20px;
        margin-bottom: 5px;
        position:center;

    }
}
@media (max-width: 600px){
    .card-body .content-card p{
        color: #606470;
        width: 100%;   
    }
}
@media (max-width: 600px){
    footer{
        width: 225%;
        height: 50px;
        background-color: #181818 ;
        justify-content: center;
        align-items: center;
        display: right;
        color: #fff;
    }
}
@media (max-width: 600px){
    footer p{
        color: #fff;
        font-size: 30px;
        font-display: right;
    }
}